.theme-button{
  $size: 40px;
  height: $size;
  width: $size;
  border: 1px solid var(--theme-color);
  border-radius: $size * 0.2;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  .theme-button__img{
    fill: var(--theme-color);
  }
}