.back-button{
    margin: 5px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 0px transparent solid;
    transition: 0.5s;
}

.back-button:hover{
    box-shadow: 2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
    -2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
    -2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15),
    2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15);
}

.back-button__background{
    height: 35px;
    width: 35px;
}