.search-form__cities-list {
    display: block;
    position: absolute;
    z-index: 1001;
    width: 800px;
}

.cities-list{
    padding: 6px;
    margin: 0px;
    background-color: white;
    border: 1px solid rgba(28%, 58%, 100%, 0.5);
    border-top: 0px solid transparent;
    border-radius: 0px 0px 20px 20px;
}

.cities-list__item {
    list-style-type: none;
    padding-left: 9px;
    font-family: Montserrat;
    font-size: 18px;
    background-color: white;
}
.cities-list__item:hover{
    background: rgba(134,134,134,0.13);
}


.header__search-form{
    margin: 10px 10px 10px 10px;
}

.search-form__input{
    min-width: 300px;
    width: 800px;
    height: 40px;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;
    border: 1px solid rgba(28%, 58%, 100%, 0.5);
    font-family: Montserrat;
    font-size: 18px;
    transition: 1s;
}


.search-form__input.list {
    border-radius: 20px 20px 0px 0px;
}

.search-form__input:focus{
    outline: none;

    box-shadow: 2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
                -2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
                -2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15),
                2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15);
}