.city-info{
    display: flex;
    flex-direction: row;
    margin: 10px 0px 0px 10px;
}

.city-info:first-child {
    margin-top: 0px;
}

.city-info-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
                 -2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
                -2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15),
                2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15);
}

.weather-card__conditions {
    min-height: 230px;
    border-radius: 30px;
    padding: 10px;
    width: 700px;
    min-width: 280px;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 2px 2px 2px 1px rgba(71%, 71%, 71%, 0.15),
                -2px 2px 2px 1px rgba(71%, 71%, 71%, 0.15),
                -2px -2px 2px 1px rgba(71%, 71%, 71%, 0.15),
                2px -2px 2px 1px rgba(71%, 71%, 71%, 0.15);
    transition: 0.5s;
}

.weather-card__conditions:hover {
        box-shadow: 2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
        -2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
        -2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15),
        2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15);
        transform: scale(1.025);
}

.weather-card_loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-info-text{
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 16px;
}

.city-info__background {
    position: absolute;
    z-index: -1;
    height: 202px;
    width: 460px;
    left: 50%;
}
