@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'),
    url('/public/fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format('woff2'),
    url('/public/fonts/Montserrat/Montserrat-VariableFont_wght.woff') format('woff'),
    url('/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf'),
    url('/public/fonts/Montserrat/Montserrat-VariableFont_wght.eot') format('eot');
}



.weather-card{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 250px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 2px 2px 2px 1px rgba(71%, 71%, 71%, 0.15),
                -2px 2px 2px 1px rgba(71%, 71%, 71%, 0.15),
                -2px -2px 2px 1px rgba(71%, 71%, 71%, 0.15),
                2px -2px 2px 1px rgba(71%, 71%, 71%, 0.15);
}

.main__weather__icon {
    position: relative;
}

.weather-icon {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 999;
    left: 90%;
}

.text-card {
    margin: 5px 0px 0px 20px;
    font-family: 'Montserrat';
    font-size: 22px;
}

.weather-temperature {
    color: #4793FF;
    font-weight: normal;
    font-size: 72px;
    margin: 10px 0px 0px 20px;
}

.weather-today {
    margin-bottom: 10px;
}

.weather-city {
    font-size: 28px;
    font-style: oblique;
}