.header {
    background-color: transparent;
    transition: 0.5s;
}

.header.black{
    background-color: #0D1117;
    transition: 0.5s;
}

.weather-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

