.header__logo{
  display: flex;
  align-items: center;
  flex-direction: row;

  .logo__image{
    $size: 50px;
    width: $size;
    height: $size;
    margin-right: 10px;
    fill: var(--purple-color);
  }

  .logo__text{
    margin: 0px;
    color: var(--text-color);
    font: {
      family: Urbanist;
      size: 46px;
      weight: 700;
    }
  }
}