@font-face {
  font-family: 'Urbanist';
  src: local('Urbanist'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.woff2') format('woff2'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.woff') format('woff'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('ttf'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.eot') format('eot');
}


$custom-purple: #703BF7;
$custom-purple-hover: #5f32ca;
$text-white: #fff;
$text-dark: #000;
$theme-white: #fff;
$theme-dark: #000;
$shadow-white: #00000026;
$shadow-dark: #fff;

html, body{
  height: 100%;
  width: 100%;
}

body{
  margin: 0px;
  transition: 0.5s;
  background-color: $theme-white;
  --text-color: #{$text-dark};
  --theme-color: #{$theme-dark};
  --purple-color: #{$custom-purple};
  --purple-color-hover: #{$custom-purple-hover};
  --shadow-color: #{$shadow-white};
  --border-color: #{$shadow-white};

  &.dark{
    background-color: $theme-dark;
    transition: 0.5s;
    --text-color: #{$text-white};
    --theme-color: #{$theme-white};
    --purple-color: #{$custom-purple};
    --purple-color-hover: #{$custom-purple-hover};
    --shadow-color: #{$shadow-dark};
    --border-color: #{$shadow-dark};
  }
}

