@font-face {
  font-family: 'Urbanist';
  src: local('Urbanist'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.woff2') format('woff2'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.woff') format('woff'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.ttf') format('ttf'),
  url('/public/fonts/Urbanist/Urbanist-VariableFont_wght.eot') format('eot');
}

body{
  margin: 0px;
  transition: 0.5s;
}

body.dark{
  background-color: #0D1117;
  transition: 0.5s;
}