.sign-in-button {
  background-color: var(--purple-color);
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 85px;
  height: 70%;
  font-family: Urbanist;
  font-size: 22px;
  &:hover {
    background-color: var(--purple-color-hover);
  }
}