@font-face {
  font-family: 'Tiny5';
  src: local('Tiny5'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.woff2') format('woff2'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.woff') format('woff'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.ttf') format('ttf'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.eot') format('eot');
}


* {
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tiny5;
  min-height: 30px;
  font-size: 24px;
}

.root {
  display: grid;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.game__game-settings{
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-settings__start, .game-settings__reset {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
}

.start__icon-settings{
  height: 15px;
  width: 15px;
}

.game__game-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-field__row {
  display: table;
}

.row__cell--Alive {
  background: #fff;
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1px;
  height: 5px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5px;
  color: #1a1a1a;
  min-width: 1px;
  min-height: 1px;
}

.row__cell--Dead {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1px;
  height: 5px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5px;
  color: #1a1a1a;
  min-width: 1px;
  min-height: 1px;
}



