@font-face {
  font-family: 'Tiny5';
  src: local('Tiny5'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.woff2') format('woff2'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.woff') format('woff'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.ttf') format('ttf'),
  url('/public/Fonts/Tiny5/Tiny5-Regular.eot') format('eot');
}


* {
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Tiny5;
  min-height: 30px;
  font-size: 24px;
  text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #fff,
          0 0 82px #fff,
          0 0 92px #fff,
          0 0 102px #fff,
          0 0 151px #fff;
}

.root {
  display: grid;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-info {
  margin-left: 20px;
}

.game__game-settings{
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-settings__game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-buttons__start, .game-buttons__step, .game-buttons__reset {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #949494;
}

.game-buttons__step {
  border-radius: 10px 0px 0px 10px;
}

.game-buttons__reset {
  border-radius: 0px 10px 10px 0px;
}

.start__icon-settings{
  height: 15px;
  width: 15px;
}

.start__icon-settings-step {
  height: 10px;
  width: 10px;
}



.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.list__item {
  float: left;
  display: inline;
}
.options {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  background: transparent;
  border: 1px solid black;
}
.options__menu {
  height: 15px;
  width: 15px;
  fill: #ffffff;
}

.header-text {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
}

.game__game-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-field__row {
  display: table;
}

.game-main__field{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-field__canvas {
  border: 2px black solid;
}


.row__cell--Alive {
  background: #fff;
  background: #000;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1px;
  height: 5px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5px;
  color: #1a1a1a;
  min-width: 1px;
  min-height: 1px;
}

.row__cell--Dead {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1px;
  height: 5px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5px;
  color: #1a1a1a;
  min-width: 1px;
  min-height: 1px;
}



