.weather-list__per-day-item {
    list-style-type: none;
    width: 165px;
    margin: 10px;
}

.per-day-item{
    border-radius: 20px;
    transition: 0.5s;
    background-color: var(--per-day-item-background);
}

.per-day-item:hover{
    box-shadow: 2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
    -2px 2px 2px 1px rgba(28%, 58%, 100%, 0.15),
    -2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15),
    2px -2px 2px 1px rgba(28%, 58%, 100%, 0.15);
    transform: scale(1.025);
}

.text-card-day{
    font-family: Montserrat;
    font-size: 16px;
    padding-left: 20px;
}

.text-date{
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--text-day-color);
}

.text-weather{
    padding-bottom: 10px;
    color: #939CB0;
}

.text-temp{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-day-color);
}

.text-feels-temp{
    font-size: 14px;
    color: #939CB0;
}

.weather-icon-day{
    height: 50px;
    width: 50px;
    padding-left: 20px;
}



